src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion, getCompte, getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT Compte (code, dateCreation, solde)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>
<!ELEMENT solde (#PCDATA)>